@Productname CRUDDemo.Product

@{
    ViewBag.Title = "create";
}

<h2>create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Productname => Productname.ProductNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Productname => Productname.ProductNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Productname => Productname.ProductNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Productname => Productname.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Productname => Productname.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Productname => Productname.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Productname => Productname.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Productname => Productname.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Productname => Productname.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Productname => Productname.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Productname => Productname.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Productname => Productname.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Productname => Productname.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Productname => Productname.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Productname => Productname.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @ViewBag.Message
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Id Scripts {
@Scripts.Render("~/bundles/jqueryval")
}

